

@media (max-width: 700px) {
  .sideBar .title::before {
    display: none;
  }

  .sideBar .title::after {
    display: none;
  }

  .sideBar .title {
    font-size: 12px;
  }

  .sideBar span {
    display: none;
  }

  .sideBar {
    padding: 0 2px;
  }

  .sideBar li {
    padding: 10px;
    width: fit-content;
    margin-left: 5px;
  }
}



.welcomeBox {
  padding: 0;
}

.box .welcome {
  width: 100%;
  background-color: #eee;
  border-radius: 15px 15px 0 0;

  padding: 15px;
  position: relative;
  height: 150px;
}

.box .welcome img:first-of-type {
  width: 50px;
  height: 50px;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 30px;
}

.box .welcome img:last-of-type {
  position: absolute;
  right: 15px;
  top: 0;
  height: 100px;
  top: 50%;
  transform: translateY(-50%);
}

.box .welcomeInfo {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  text-align: center;
  transform: translateY(-50px);
}

@media (max-width: 700px) {
  .box .welcome img:last-of-type {
    display: none;
  }

  .box .welcomeInfo {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    line-height: 1.7;
  }

  .box .welcome img:first-of-type {
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
  }
}

.box .welcomeInfo>div div:first-child {
  font-size: 15px;
  font-weight: 500;
}

.box .welcomeInfo>div div:last-child {
  font-size: 12px;
  color: var(--grey-color);
}

.profileButton,
.save {
  background-color: var(--blue-color);
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 15px;
  font-size: 14px;
  font-weight: 500;
}

.box .titleText {
  width: 100%;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  font-size: 13px;
}

.box .thoughts {
  background-color: #eee;

}

.box .targetsList li>div {
  display: flex;
  gap: 10px;
}

.box .targetsList li i {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  font-size: 20px;
}

.box .targetsList li:first-child i {
  background-color: rgb(0 117 255 / 20%);
  color: var(--blue-color);
}

.box .targetsList li:nth-child(2) i {
  background-color: rgb(245 158 11 / 20%);
  color: var(--orange-color);
}

.box .targetsList li:last-child i {
  background-color: rgb(34 197 94 / 20%);
  color: var(--green-color);
}

.box .targetsList .info p:last-child {
  font-weight: bold;
  color: black;
  font-size: 16px;
}

.box .targetsList .info {
  width: calc(100% - 90px);
  position: relative;
}

.box .targetsList .info:after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.box .targetsList .percent {
  content: "";

  height: 4px;
  background: black;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.box .targetsList li :first-child .info::after {
  background-color: rgb(0 117 255 / 20%);
}

.box .targetsList li:nth-child(2) .info::after {
  background-color: rgb(245 158 11 / 20%);
}

.box .targetsList li:last-child .info::after {
  background-color: rgb(34 197 94 / 20%);
}

.box .targetsList li {
  position: relative;
}

.box .targetsList li span {
  width: fit-content;
  position: absolute;
  border-radius: 5px;
  color: white;
  padding: 3px;
  font-size: 12px;
  right: 0;
  transform: translateX(50%);
  bottom: 10px;
}

.box .targetsList li span::after {
  content: "";
  border: 5px solid;
  width: 0;
  height: 0;
  border-color: transparent;
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
}

.box .targetsList li:first-child .percent {
  width: 80%;
  background-color: var(--blue-color);
}

.box .targetsList li:nth-child(2) .percent {
  width: 55%;
  background-color: var(--orange-color);
}

.box .targetsList li:last-child .percent {
  width: 75%;
  background-color: var(--green-color);
}

.box .targetsList li:first-child span {
  background-color: var(--blue-color);
}

.box .targetsList li:nth-child(2) span {
  background-color: var(--orange-color);
}

.box .targetsList li:last-child span {
  background-color: var(--green-color);
}

.box .targetsList li:first-child span::after {
  border-top-color: var(--blue-color);
}

.box .targetsList li:nth-child(2) span::after {
  border-top-color: var(--orange-color);
}

.box .targetsList li:last-child span::after {
  border-top-color: var(--green-color);
}

.box .statisticsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  justify-content: center;
}

.box .statisticsGrid>div {
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  padding-top: 15px;
}

.box .statisticsGrid>div i {
  font-size: 25px;
  margin-bottom: 5px;
}

.box .statisticsGrid>div:first-child i {
  color: var(--orange-color);
}

.box .statisticsGrid>div:nth-child(2) i {
  color: var(--blue-color);
}

.box .statisticsGrid>div:nth-child(3) i {
  color: var(--green-color);
}

.box .statisticsGrid>div:last-child i {
  color: var(--red-color);
}

.box .newList li {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.box .newList li>div {
  display: flex;
  gap: 15px;
}

@media (max-width: 700px) {
  .box .newList li>div {
    flex-direction: column;
    align-items: center;
  }

  .box .newList li {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.box .newList li img {
  width: 100px;
  height: 60px;
  border-radius: 5px;
}

.box .newList li .date {
  font-size: 12px;
  padding: 7px;
  background-color: #eee;
  height: fit-content;
  border-radius: 5px;
}

.box .newList li p {
  transform: translateY(-5px);
}

.box .tasksList li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  position: relative;
}



.box .tasksList li:nth-child(4) {
  text-decoration: line-through;
  opacity: 0.4;
}

.box .tasksList li i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}

.box .tasksList li i:hover {
  color: var(--red-color);
}

.box .searchList li {
  display: flex;
  justify-content: space-between;
}


.box .searchList li:not(:first-child) p {
  color: black;
  font-weight: 500;
}

.box .searchList span {
  padding: 5px;
  background-color: #eee;
  font-size: 12px;

  border-radius: 5px;
  font-weight: 500;
  height: fit-content;
}

.box .filesList li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
  position: relative;
}

.box .filesList li>div {
  display: flex;
  gap: 10px;
}

.box .filesList li img {
  width: 35px;
}

.box .filesList li p:first-child {
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.box .filesList li span {
  font-size: 12px;
  background-color: #eee;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 5px;
  font-weight: 500;
}

.box .progressList li {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

.box .progressList li div {
  position: relative;
  width: 28px;
  height: 28px;
  background-color: var(--blue-color);
  border-radius: 50%;
  z-index: -1;
}

.box .progressList li div::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 20px;
  height: 21px;
  background-color: transparent;
  border: 2px solid white;
  z-index: 1;
}

.box .progressList li:not(:last-child) div::before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 100%;
  background-color: var(--blue-color);
  z-index: 10;
}

.box .progressList {
  font-size: 15px;
  font-weight: 500;
}

.box .progressList li:nth-last-child(2) div::after {
  animation: 0.6s flash alternate infinite;
}

.box .progressImg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150px;
  opacity: 0.4;
}

@media (max-width: 700px) {
  .box .progressImg {
    display: none;
  }
}

.box .progressList li:last-child div::after {
  background-color: white;
}

@keyframes flash {
  100% {
    background-color: white;
  }
}

.box .remindersList li {
  margin-left: 40px;
  margin-top: 20px;
  border-left: 2px solid;
  padding-left: 10px;
  position: relative;
}

.box .remindersList li::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -35px;
  transform: translateY(-50%);
}


.box .remindersList li:first-child {
  border-left-color: var(--blue-color);
}

.box .remindersList li:nth-child(2) {
  border-left-color: var(--green-color);
}

.box .remindersList li:nth-child(3) {
  border-left-color: var(--orange-color);
}

.box .remindersList li:last-child {
  border-left-color: var(--red-color);
}

.box .remindersList li:first-child::before {
  background-color: var(--blue-color);
}

.box .remindersList li:nth-child(2)::before {
  background-color: var(--green-color);
}

.box .remindersList li:nth-child(3)::before {
  background-color: var(--orange-color);
}

.box .remindersList li:last-child::before {
  background-color: var(--red-color);
}

.box .postHeader {
  display: flex;
  gap: 10px;
}

.box .postHeader img {
  width: 50px;
}

.box .postText {
  font-size: 15px;
  line-height: 1.7;
  font-weight: 500;
  margin: 10px 0;
  padding: 20px 0 40px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.box .postLikes {
  display: flex;
  justify-content: space-between;
  color: var(--grey-color);
  font-size: 14px;
}

.box .socialList li {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 10px 0;
}

.box .socialList li>div {
  display: flex;
  gap: 10px;
}

.box .socialList i {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  transition: 0.5s;
}

.box .socialList li a {
  display: inline-block;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 12px;
  padding: 3px 5px;
  color: white;
  height: fit-content;
  border-radius: 5px;
  font-weight: 500;
}

.box .socialList li:first-child a {
  background-color: #1da1f2;
}

.box .socialList li:nth-child(2) a {
  background-color: #1877f2;
}

.box .socialList li:nth-child(3) a {
  background-color: #ff0000;
}

.box .socialList li:last-child a {
  background-color: #0077b5;
}

.box .socialList li:first-child {
  background-color: rgb(29 161 242 / 20%);
  color: #1da1f2;
}

.box .socialList li:nth-child(2) {
  background-color: rgb(24 119 242 / 20%);
  color: #1da1f2;
}

.box .socialList li:nth-child(3) {
  background-color: rgb(255 0 0 / 20%);
  color: #ff0000;
}

.box .socialList li:last-child {
  background-color: rgb(0 119 181 / 20%);
  color: #0077b5;
}

.box .socialList li:first-child i {
  background-color: #1da1f2;
}

.box .socialList li:nth-child(2) i {
  background-color: #1877f2;
}

.box .socialList li:nth-child(3) i {
  background-color: #ff0000;
}

.box .socialList li:last-child i {
  background-color: #0077b5;
}

.box .socialList span {
  transform: translateY(15px);
  font-size: 15px;
}

.box .socialList i:hover {
  transform: rotate(6deg);
}

.box .tableScroll {
  overflow-x: scroll;
}

.box .projectTable {
  min-width: 1000px;
  border-spacing: 0;
  font-size: 14px;
}

.box .projectTable thead {
  background-color: #eee;
  height: 40px;
}

.box .projectTable tbody td {
  border: 1px solid #eee;
  padding: 15px;
  font-weight: 500;
}

.box .projectTable img {
  width: 27px;
  border-radius: 50%;
  margin-right: -17px;
  border: 1px solid white;
}

.box .projectTable tr span {
  padding: 3px 5px;
  border-radius: 5px;
  color: white;
  background-color: var(--green-color);
  font-size: 12px;
}

.box .projectTable tbody tr:hover {
  background-color: #faf7f7;
}

.box .projectTable tr:first-child span {
  background-color: var(--orange-color);
}

.box .projectTable tr:nth-child(2) span {
  background-color: var(--blue-color);
}

.box .projectTable tr:nth-last-child(2) span {
  background-color: var(--red-color);
}